<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Library Components</title>
  </head>
  <body>
    <div class="container">
      <div class="flex-row standard-height">
        <app-botao-componente componentClass="btn-component btn-primary" [label]="'btn-primary'"></app-botao-componente>
        <app-botao-componente componentClass="btn-component btn-success" [label]="'btn-success'"></app-botao-componente>
        <app-botao-componente componentClass="btn-component btn-cancel" [label]="'btn-cancel'"></app-botao-componente>
        <app-botao-componente componentClass="btn-component btn-grey" [label]="'btn-grey'"></app-botao-componente>
        <app-botao-componente componentClass="btn-component btn-orange" [label]="'btn-orange'" ></app-botao-componente>
      </div>
   </div>
  </body>
</html>
